@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <img src="~/Image/bg-about-chief.jpg" class="img-fluid" asp-append-version="true" style="width:100%;object-fit:fill" />
</div>

<script src="~/lib/bootstrap/dist/Menu.js"></script>


<div class="container bg-back p-3">
    <center class="text-dark my-4">
        <h2>Our Achivements</h2>
        <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h6>
    </center>
    <div class="row  mt-5">
        <div class="col-md-6">
            <div class="card mb-3" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">

                <div class="card-body">
                    <img src="~/Image/medal.png" asp-append-version="true" class="img-fluid" alt="...">

                    <h5 class="card-title">Awards</h5>
                    <p class="card-text">1000+ Awards Achived</p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">

                <div class="card-body">
                    <img src="~/Image/agency.png" asp-append-version="true" class="img-fluid" alt="...">

                    <h5 class="card-title">Branches</h5>
                    <p class="card-text">850+ Branches All OverIndia</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card mb-3" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">

                <div class="card-body">
                    <img src="~/Image/couple-1.png" asp-append-version="true" class="img-fluid" alt="...">

                    <h5 class="card-title">Happy Customer</h5>
                    <p class="card-text">1000+ Satisfied Customer</p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">

                <div class="card-body">
                    <img src="~/Image/cooking.png" asp-append-version="true" class="img-fluid" alt="...">

                    <h5 class="card-title">Staff</h5>
                    <p class="card-text">850+</p>

                </div>
            </div>
        </div>
    </div>
</div>



<center class="mt-5 container-fluid">
    <h2 class="mt-5">The cheif We Have </h2>
</center>
<center>
    <div class="row mt-5 w-100">
        <div class="col-md-3">
            <div class="card" style="width: 15rem;">
                <img src="~/Image/person_1.jpg" asp-append-version="true" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Head Chief</h5>
                    <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 15rem;">
                <img src="~/Image/person_2.jpg" asp-append-version="true" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cordinator</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 15rem;">
                <img src="~/Image/person_3.jpg" asp-append-version="true" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Head Chief</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 15rem;">
                <img src="~/Image/person_4.jpg" asp-append-version="true" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Head Chief</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        </div>

    </div>

</center>

